.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo .icon {
    font-size: 2rem;
    color: green; 
}

.logo .name {
    color: white;
}

.logo .color_primary {
    color:green; 
}

.color_primary{
    color: green; 
}

.color_primary:hover {
    color: green; 
    transition: color 0.3s ease; 
}